* {
    border-radius: none;
    
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
#about, #intro-container, #community {
    background-color: whitesmoke;
    opacity: 0.9;
    margin-top: 60px;
}
#accordian {
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
}
body {
    background-image: url("jumbotronart.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.3rem;
}
card p {
    font-size: 1.0 rem;
}
#events-link {
    padding: 20px;
    font-size: 1.5rem;
    color: darkslategrey;
    width: 100%;
}

footer {
    background-color: darkslategray;
    color: white;
    width: 100%;
}

#home {
    margin-top: 100px;
}
.card-img {
    margin-top: 20px;
}
#snowypark {
    margin: 30px;
}
#invite-wrapper:hover {
    text-decoration: none;
    background-color: gray;
    color: aliceblue;
}

.jumbotron {
    background-color: transparent;
}
main {
    padding-top: 60px;
}

#media, #contact {
    margin-top: 60px;
    background-color: black;
    width: 100%;
    color: white;
}

section {
    min-height:  90vh;
    padding: 60px 100px 20px 20px;
}

.subtitle {
    text-align: right;
}

#title-wrapper {
    padding: 20px;
}